.button-heading {
    margin: 50px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Add this property to wrap buttons to the next line if needed */
    max-width: 1000px; /* Adjust the width to match the form width */
    margin: 20px auto; /* Center the button container and add space around it */
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px; /* Add space between the buttons */
    font-size: 16px;
    color: #fff;
    background-color: #8b1746;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #8b1746;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button.selected {
    background-color: #EAE90D;
  }
  