/* Form.css */

.form-model {
  border: 2px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  max-width: 1000px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the form horizontally */
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-input:focus {
  outline: none;
  border-color: #b72f5b;
  box-shadow: 0px 0px 5px rgba(183, 47, 91, 0.5);
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .form-model {
    padding: 15px;
  }

  .form-label {
    font-size: 16px;
    padding: 5px;
  }

  .form-input {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 8px;
  }
}
